streamlit
python-dotenv
protobuf<=3.20.3

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
langchain-google-genai

llama-parse
sentence-transformers>=2.2.2
chromadb

torch
